[tools]
flux2 = "latest"
kubectl = "latest"
opentofu = "latest"
packer = "latest"
sops = "latest"
talosctl = "latest"

[tasks.packer]
description = "Run Packer to build images to Hetzner Cloud"
run = [
	'packer init .',
	'packer build .'
]
dir = "./terraform/packer"
hide = true

[tasks."tofu:init"]
description = "Initialize OpenTofu"
run = ['tofu init']
dir = "./terraform"

[tasks."tofu:plan"]
description = "Generate and show an execution plan for OpenTofu"
run = ['tofu plan']
dir = "./terraform"

[tasks."tofu:apply"]
description = "Apply the changes required to reach the desired state of the configuration for OpenTofu"
run = ['tofu apply -auto-approve']
dir = "./terraform"

[tasks.reconcile]
description = "Reconcile the Talos cluster using Flux"
run = [
	'flux reconcile source git flux-system',
	'flux reconcile kustomization flux-system'
]


[env]
SOPS_AGE_KEY_FILE = "{{config_root}}/config/key.txt"
TALOSCONFIG="{{config_root}}/config/talosconfig"
KUBECONFIG="{{config_root}}/config/kubeconfig"

[env._]
file = { path = "config/env.yaml", redact = true }

[settings.sops]
age_key_file = "{{config_root}}/config/key.txt"
